* {
    box-sizing: border-box;
    font-weight: bold;
    color: blanchedalmond;
}

body {
    margin: 0;
    padding: 0;
    background-color: #A72005;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1px;
    height: 190px; 
    background-color:#110F0C;          
}

header form {
    align-self: flex-end;
    color: rgb(214, 136, 18);
    font-weight: bolder;
    
} 

.logo img {  
    height: 150px;
}


nav {
    display: flex;
    flex-direction: row;
    background-color: #402018;  
}

nav a {
    padding: 14px 20px;
    color: blanchedalmond;
    text-decoration: none;
    font-weight: bolder;
}

nav a:hover {
    color: white;
    text-decoration: none;
    padding: 20px 20px 20px 20px;
    transition: padding 0.3s;
    border-radius: 20px;
    background-color: brown;
}

.row {
    display: flex;
    flex-wrap: wrap;
} 

aside {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 20%;
    background-color: #110C0B;
    padding: 20px;
    font-weight: bolder;
    color: #c22b0d;
    text-align: center;
}



section {
    flex: 60%;
    background-color: #392824;
    padding: 20px;
    text-align: center;
    color: #FB8E78;
}


.claseBoton {
    text-decoration: none;
    margin-top: 15px;
    padding: 10px;
    font-weight: 320;
    font-size: 20px;
    color: #ffffff;
    background-color: #507588;
    border-radius: 6px;
    border: 2px solid #0c0c0e;
}

.claseBoton:hover {
    margin-top: 15px;
    color: orange;
    padding: 20px;
    transition: padding 0.5s;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    color: #FF947E;
    background-color: #4C1003;
}

#formulario{
	display: flex;
	flex-direction: column;
    justify-self: center;
    align-self: flex-end;
	margin: 10px auto 10px auto;
	width: 60%;
    font-weight: bolder;
    color: rgb(255, 209, 209);
}

input[type = text],input[type = email],textarea, input[type = password]{
    border-radius: 8px;
    margin-bottom: 8px;
    border: 0;
    color: rgb(0, 0, 0);
    height: 35px;
    
}

textarea{
    height: 150px;
    font-size: 1.2em;
}

#puntosJugador1, #puntosJugador2{
    color: rgb(224, 48, 48);
    background-color: rgb(231, 231, 231);
    border-radius: 15px;
}

.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
}

@media screen and (max-width: 1200px){

        nav{
        flex-direction: column;
        }
    
        .recuadroBlanco, .recuadroNegro{
            height: 50px;
            width: 50px;
        }
    
        .fichas{
            height: 50px;
            width: 50px; 
        }
    
    }

@media screen and (max-width: 900px){
    section {
        flex: 76%;
    }
    
    nav{
        flex-direction: column;
    }
    
    .recuadroBlanco, .recuadroNegro{
        height: 50px;
        width: 50px;
    }
    
    .fichas{
        height: 50px;
        width: 50px; 
    }
    
    }
    
@media screen and (max-width: 700px){
    section {
        flex: 80%;
    }
    
    
    nav{
    flex-direction: column;
    }
    
    .recuadroBlanco, .recuadroNegro{
        height: 35px;
        width: 35px;
    }
    
    .fichas{
        height: 35px;
        width: 35px; 
        }
    
    }

@media screen and (max-width: 700px){
    
    section {
        flex: 80%;
        }
    
    }

@media screen and (max-width: 360px){
    section {
            flex: 80%;
            }
        }